@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}
@keyframes shakeye {
  0% {
    opacity: 1;
    transform: rotate(5deg) scale(1.5);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg) scale(1.5);
  }
  6% {
    opacity: 1;
    transform: rotate(-20deg) scale(1.5);
  }
  10% {
    opacity: 1;
    transform: rotate(0deg) translatey(0) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: rotate(-360deg) translatey(4000px) scale(1.5);
  }
}
@keyframes movemount {
  50% {
    transform: scale(1.5) translate(0, 0) rotate(0deg);
  }
  52% {
    transform: scale(1.5) translate(-1.4px, 1.6px) rotate(0.5deg);
  }
  54% {
    transform: scale(1.5) translate(1.6px, -1px) rotate(-2deg);
  }
  56% {
    transform: scale(1.5) translate(1.3px, -1.6px) rotate(-2deg);
  }
  58% {
    transform: scale(1.5) translate(-1.3px, -1.6px) rotate(0.5deg);
  }
  60% {
    transform: scale(1.5) translate(1.3px, 1.6px) rotate(-0.5deg);
  }
  62% {
    transform: scale(1.5) translate(0px, 0px) rotate(-1.5deg);
  }
  64% {
    transform: scale(1.5) translate(-1.6px, -1.6px) rotate(-2deg);
  }
  66% {
    transform: scale(1.5) translate(1.6px, -1.6px) rotate(0.5deg);
  }
  68% {
    transform: scale(1.5) translate(0px, -1.6px) rotate(-2deg);
  }
  70% {
    transform: scale(1.5) translate(-1.6px, 1px) rotate(1.5deg);
  }
  72% {
    transform: scale(1.5) translate(-1.6px, 1.6px) rotate(2deg);
  }
  74% {
    transform: scale(1.5) translate(1.3px, -1.6px) rotate(-0.5deg);
  }
  76% {
    transform: scale(1.5) translate(1.4px, 1px) rotate(-0.5deg);
  }
  78% {
    transform: scale(1.5) translate(-1px, 1.4px) rotate(2deg);
  }
  80% {
    transform: scale(1.5) translate(1.4px, 1.6px) rotate(2deg);
  }
  100% {
    transform: scale(1.5) translate(100px, 0px) rotate(0deg);
  }
}
@keyframes danIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#game {
  width: 100%;
  height: 100%;
  background-color: black;
  // animation: fadeIn 4s;
}
#firstStep {
  width: 100%;
  height: 100%;
  position: relative;
  img.bg3 {
    width: 100%;
    height: 100%;
  }
  div.fits {
    position: absolute;
    img {
      width: 150%;
      height: 150%;
    }
  }
  #again {
    left: 20vw;
    top: 70vw;
    width: 390px;
    height: 85px;
  }
}
