@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}
@keyframes shakeye {
  0% {
    opacity: 1;
    transform: rotate(5deg) scale(1.5);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg) scale(1.5);
  }
  6% {
    opacity: 1;
    transform: rotate(-20deg) scale(1.5);
  }
  10% {
    opacity: 1;
    transform: rotate(0deg) translatey(0) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: rotate(-360deg) translatey(4000px) scale(1.5);
  }
}
@keyframes movemount {
  50% {
    transform: scale(1.5) translate(0, 0) rotate(0deg);
  }
  52% {
    transform: scale(1.5) translate(-1.4px, 1.6px) rotate(0.5deg);
  }
  54% {
    transform: scale(1.5) translate(1.6px, -1px) rotate(-2deg);
  }
  56% {
    transform: scale(1.5) translate(1.3px, -1.6px) rotate(-2deg);
  }
  58% {
    transform: scale(1.5) translate(-1.3px, -1.6px) rotate(0.5deg);
  }
  60% {
    transform: scale(1.5) translate(1.3px, 1.6px) rotate(-0.5deg);
  }
  62% {
    transform: scale(1.5) translate(0px, 0px) rotate(-1.5deg);
  }
  64% {
    transform: scale(1.5) translate(-1.6px, -1.6px) rotate(-2deg);
  }
  66% {
    transform: scale(1.5) translate(1.6px, -1.6px) rotate(0.5deg);
  }
  68% {
    transform: scale(1.5) translate(0px, -1.6px) rotate(-2deg);
  }
  70% {
    transform: scale(1.5) translate(-1.6px, 1px) rotate(1.5deg);
  }
  72% {
    transform: scale(1.5) translate(-1.6px, 1.6px) rotate(2deg);
  }
  74% {
    transform: scale(1.5) translate(1.3px, -1.6px) rotate(-0.5deg);
  }
  76% {
    transform: scale(1.5) translate(1.4px, 1px) rotate(-0.5deg);
  }
  78% {
    transform: scale(1.5) translate(-1px, 1.4px) rotate(2deg);
  }
  80% {
    transform: scale(1.5) translate(1.4px, 1.6px) rotate(2deg);
  }
  100% {
    transform: scale(1.5) translate(100px, 0px) rotate(0deg);
  }
}
@keyframes danIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#game {
  width: 100%;
  height: 100%;
  background-color: black;
  // animation: fadeIn 4s;
}
#firstStep {
  width: 100%;
  height: 100%;
  position: relative;
  img.bg3 {
    width: 100%;
    height: 100%;
  }
  div.fits {
    position: absolute;
    img {
      width: 150%;
      height: 150%;
    }
  }
  #xiancao {
    right: 56vw;
    top: 7vw;
    width: 66px;
    height: 55px;
    transform: scale(1.5);
  }
  #ye {
    right: 25vw;
    top: 41vw;
    width: 51px;
    height: 87px;
    transform: scale(1.5);
  }
  #ye.moveye {
    z-index: 3;
    transform-origin: 50% 0%;
    animation: shakeye 20s ease-out forwards;
  }
  #book {
    right: 20vw;
    top: 75vw;
    width: 143px;
    height: 108px;
    transform: scale(1.5);
  }
  #mount {
    right: 23vw;
    top: 56vw;
    width: 557px;
    height: 539px;
    transform: scale(1.5);
  }
  #mount.movemount {
    animation: movemount 3s ease-out forwards;
  }
  #ling {
    left: 68vw;
    top: 60vw;
    width: 38px;
    height: 62px;
    transform: scale(1.5);
  }
  #ying {
    right: 62vw;
    top: 52vw;
    width: 207px;
    height: 91px;
    transform: scale(1.5);
  }
  #m1 {
    left: 18vw;
    top: 45vw;
    width: 96px;
    height: 97px;
    transform: scale(1.5);
  }
  #m2 {
    left: 12vw;
    top: 60vw;
    width: 96px;
    height: 97px;
    transform: scale(1);
  }
  #m3 {
    left: 12vw;
    top: 69vw;
    width: 96px;
    height: 97px;
    transform: scale(1.2);
  }
  #m4 {
    left: 12vw;
    top: 80vw;
    width: 96px;
    height: 97px;
    transform: scale(1.5);
  }
  #xi {
    left: 37vw;
    top: 58.5vw;
    width: 618px;
    height: 502px;
    transform: scale(1.2, 1.5);
  }
  #yun1 {
    left: 10vw;
    bottom: 7vw;
    width: 1050px;
    height: 172px;
    transform: scale(1.5);
  }
  #yun1.moveyun1,
  #yun2.moveyun1 {
    animation: fadeOut 2s ease-out forwards;
  }
  #yun2 {
    right: 33vw;
    bottom: 10vw;
    width: 834px;
    height: 225px;
    transform: scale(1.5);
  }
  #di {
    left: 75vw;
    top: 60vw;
    width: 641px;
    height: 175px;
    animation: fadeIn 1s ease-out forwards;
  }
  #tao {
    left: 75vw;
    top: 46.5vw;
    width: 641px;
    height: 396px;
    animation: fadeIn 2s ease-out forwards;
  }
  #dan {
    left: 87.5vw;
    top: 58.5vw;
    width: 228px;
    height: 222px;
    animation: danIn 4s ease-out forwards;
  }
  #fu {
    left: 93vw;
    top: 52vw;
    width: 52px;
    height: 133px;
    animation: fadeIn 2s ease-out forwards;
  }
}
